.wraper {
	position: absolute;
	bottom: 0;
	left: -17px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 122vh;
	background-color: rgba(0, 0, 0, 0.712);
	z-index: 2;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

.main {
	display: inline-block;
	position: relative;
	min-height: 496px;
	width: 746px;
	padding: 20px;
	margin: 0 1rem;
	color: #141825;
	background: #fbfbfb;
	border-radius: 25px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	font-family: -apple-system, BlinkMacSystemFont, 'Muli';
	font-style: italic;
}

.monitorContainer {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 5px;
	background-color: #001c38;
	color: white;
	font-size: 14px;
	border-radius: 5px;
}

.footerContainer {
	top: 495px;
	left: 0;
	background-color: #00162cfa;
	border: 2px solid #6d6d6efa;
	border-top: none;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
