.monitor {
	height: 329px;
	border: 1px solid whitesmoke;
	border-radius: 7px;
	border: 1px solid whitesmoke;
	font-size: 12px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.monitor::-webkit-scrollbar {
	display: none;
}

.monitorHeader {
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding: 3px 0 3px;
	background-color: #051e38;
	border-bottom: 1px solid #ffffffd4;
	line-height: 14px;
	text-align: center;
	z-index: 1;
}
