.dropdown {
	position: absolute;
	top: 30px;
	right: -5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: 2px solid #4c7dab4a;
	border-radius: 5px;
	border-radius: 7px;
	font: 400 16px Arial;
	opacity: 0;
	transition: 350ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
	z-index: 2;
}

@media (max-width: 576px) {
	.dropdown {
		right: -18px;
		border: 0.8px solid #01236ed6;
		border-radius: 5px;
	}
}

.item {
	padding: 0.25rem 15px 0.25rem 14px;
	color: #1e90ff;
	font-style: italic;
}

@media (max-width: 576px) {
	.item {
		margin: 0px 0px 1px 0px;
		padding: 7px 26px 8px 31px;
		border-radius: 5px;
	}
}

.item:hover {
	color: #033c73;
}

.btn:focus {
	box-shadow: none;
}
