.monitor {
	height: 329px;
	border: 1px solid whitesmoke;
	border-radius: 3px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.monitor::-webkit-scrollbar {
	display: none;
}
